# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual env
.venv/

# VSCode or PyCharm config (optional)
.vscode/
.idea/

# OS
.DS_Store

# Testing
.pytest_cache/
.mypy_cache/

requirements.txt
.env
